*, :after, :before {
    box-sizing: border-box;
}

html {
    height: 100%;
    color: #404040;
    font: 400 1em/1.4 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

h3 {
    font-size: 1em;
}

h3, p, pre {
    margin: 0 0 1.5em;
}

h2, h3 {
    font-weight: 600;
}

.flex-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.padding1em {
    padding: 0.5em;
}


.Demo {
    width: 100%;
    padding: .8em 1em 0;
    background: hsla(31, 15%, 50%, .1);
    border-radius: 3px;
}

.Demo:after {
    content: '\00a0';
    display: block;
    margin-top: 1em;
    height: 0;
    visibility: hidden;
}

.u-textCenter {
    text-align: center !important;
}

.height100 {
    height: 100%;
}

.u-1of2 {
    width: 50% !important;
}

.u-1of2, .u-full {
    -webkit-box-flex: 0 !important;
    -webkit-flex: none !important;
    -ms-flex: none !important;
    flex: none !important;
}

.u-1of3 {
    width: 33.3333% !important;
}

.u-1of3, .u-2of3 {
    -webkit-box-flex: 0 !important;
    -webkit-flex: none !important;
    -ms-flex: none !important;
    flex: none !important;
}

.u-1of4 {
    width: 25% !important;
}

.u-1of4, .u-3of4 {
    -webkit-box-flex: 0 !important;
    -webkit-flex: none !important;
    -ms-flex: none !important;
    flex: none !important;
}

.u-1of3 {
    width: 33.3333% !important;
}

.u-1of3, .u-2of3 {
    -webkit-box-flex: 0 !important;
    -webkit-flex: none !important;
    -ms-flex: none !important;
    flex: none !important;
}
